<h3>Cart Items are <span class="badge badge-primary">{{cartItems.length}}</span></h3>
<table class="table table-bordered">
  <tr>
      <th>Name</th><th>Price</th><th>Quantity</th><th>Price</th>
  </tr>
  <tr *ngIf="cartItems.length == 0">
    <td colspan="4">Cart is empty</td>
  </tr>
  <tr *ngFor="let item of cartItems; let i=index">
    <td><button class="btn btn-danger" (click)="delete(i)">X</button>{{item.name}}</td>
    <td>{{item.price | currency:'JPY'}}</td>
    <td><input type="number" name="Quantity" [(ngModel)]="item.qty" style="width: 50px;"></td>
    <td>{{item.price * item.qty}}</td>
  </tr>
  <tr>
    <td colspan="3">Total Amount</td>
    <td>{{getCartTotal()}}</td>
  </tr>
</table>