  <h3>List of products</h3>
  <div>
      <div colspan="1">{{myDate | date:"MMM/dd/yyyy"}}</div>
        <input placeholder="Input here to search" [(ngModel)]="queryString">
  </div>
  <div class="card-deck">
    <div class="card" *ngFor="let product of products | searchData:queryString:'name'" >
      <div class="card-header bg-warning">
        <b>{{product.name | uppercase }}</b>
      </div>
      <div class="card-body">
        {{product.price | currency:'JPY'}}
        <br>
        <b>"{{product.description}}"</b>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
      </div>
    </div>
  </div>
