<div class="row">
        <div class="col-sm-3 card">
            <div class="card-header bg-info">
                <b>Categories</b>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let link of ctgLinks">
                        <a routerLink="{{link.id}}">{{link.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5">
            <!-- <app-products></app-products> -->
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-4">
            <app-cartitems></app-cartitems>
        </div>
    </div>
